<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Mail_Reveiver接收人，多个接收人用;分割-->
    <add key="Reveiver" value="jianfeng_L@foxlink.com"/>
    <!--Mail_Server-->
    <add key="HOST" value="192.168.64.249"/>
    <!--Mail_Send发件人-->
    <add key="SendAddress" value="jianfeng_L@foxlink.com"/>
  </appSettings>
</configuration>